@import '_fonts.css';

html {
  font-size: calc(100vw / 1366 * 10);

  @media all and (max-width: 767px) {
    font-size: calc(100vw / 320 * 10);
  }

  @media all and (min-width: 767px) and (max-width: 1600px) {
    font-size: calc(100vw / 1500 * 10);
  }

  @media all and (min-width: 1601px) {
    font-size: calc(100vw / 2000 * 10);
  }

  @media all and (min-width: 2000px) {
    font-size: calc(100vw / 2500 * 10);
  }
}

.fullscreen {
  position: relative;
  z-index: 1000000;
}

body {
  margin: 0;
  padding: 0;
  color: #2a2a2f;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background: white;
  overflow-x: hidden !important;
  overflow-y: scroll;
  height: 100%;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

*, *:hover {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
  border: 0;
  text-decoration: none;

  &:disabled {
    pointer-events: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
